<%= form_with model: comment, url: path, data: { turbo: false } do |form| %>
  <% if comment.errors.any? %>
    <div class="alert alert-danger" role="alert">
      <ul class="error-list">
        <% comment.errors.full_messages.each do |error_message| %>
          <li><%= error_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="mb-3">
    <%= form.label :content, 'COMMENT:', class: 'form-label' %>
    <%= form.text_field :content, class: 'form-control' %>
  </div>
  <%= form.submit 'Submit', class: 'btn btn-primary' %>
<% end %>