<h1 class="post-title">TITLE: <%= @post.title %></h1>

<h2 class="comments-title">Comments</h2>
<ul class="comments-list">
  <% @comments.each do |comment| %>
    <li class="comment-item">
      <%= comment.content %> (<%= comment.created_at.strftime('%B %d, %Y') %>)
      <%= button_to 'Edit', edit_post_comment_path(@post, comment) %>
      <%= button_to 'Delete', post_comment_path(@post, comment), method: :delete %>
    </li>
  <% end %>
</ul>