<style>
    /* Stylesheet */
    .post-container {
        max-width: 800px;
        margin: 0 auto;
        padding: 20px;
        border: 1px solid #eaeaea;
        border-radius: 8px;
        background-color: #ffffff;
    }

    .post-header {
        text-align: center;
        margin-bottom: 20px;
    }

    .post-title {
        font-size: 2.5rem;
        font-weight: bold;
        color: #333333;
    }

    .post-date {
        font-size: 1rem;
        color: #666666;
    }

    .post-content {
        line-height: 1.6;
        margin-bottom: 15px; /* Moved from .post-content p */
    }

    .errors {
        color: red;
        margin-bottom: 10px;
    }

    .form-label {
        display: block;
        margin-bottom: 5px;
    }

    .new-comment {
        margin-bottom: 20px; /* Increased margin for better separation */
    }

    .comment {
        margin-bottom: 20px; /* Increased margin between comments */
        border-bottom: 1px solid #eaeaea;
        padding-bottom: 10px;
    }
</style>

<section class="post-container">
  <div class="post-header">
    <h1 class="post-title"><%= @post.title %></h1>
    <p class="post-date"><%= @post.created_at.strftime('%B %d, %Y') %></p>
  </div>

  <div class="post-content">
    <p><%= @post.content %></p>
    <p><%= @post.user&.email %></p>
  </div>

  <% if @post.comments.any? %>
    <div class="post-comments">
      <% @comments.each do |comment| %>
        <div class="comment">
          <p><strong><%= comment.user.email %>:</strong> <%= comment.content %></p>
        </div>
      <% end %>
    </div>
  <% end %>

  <div class="new-comment">
    <%= form_with model: @comment, url: post_comments_path(@post), data: { turbo: false } do |form| %>
      <% if @comment.errors.any? %>
        <div class="errors">
          <ul>
            <% @comment.errors.each do |error| %>
              <li><%= error.full_message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <%= form.label :"New comment", class: 'form-label' %>
      <%= form.text_field :content %>
      <%= form.submit %>
    <% end %>
    <%= paginate @comments %>
  </div>
</section>
